  <div class="top_header account_header">
    <div class="header-left">
      <img src="/images/layout/main_logo.png" alt="cyberCafeLogo" width="100" height="100" />
    </div>
    <div class="header-right">
      <div class="header-right-links">
        <a href="/demo/homepage" >Home</a>
        <a href="/signup" class="sign-up-link-top">Sign-Up</a>
        <a href="/login" class="log-in-link-top">Sign-In</a>
        <a href="/demo/homepage/shop">Shop</a>
        <a href="/demo/contact-us">Contact Us</a>
        <a href="/logout" class="logout-link-top">Logout</a>
        <a class="user-acount-link-top" href="/account"><i class="fa fa-user-circle" aria-hidden="true" title="Edit Account"></i></a>
    <a href="/cart" class="cart-link-top"><i class="fa fa-shopping-cart" title="Show my cart"></i>
          <% if (req.session.cart) { %>
          <span class="badge badge-danger"><%= req.session.cart.totalQty %></span>
          <% } %>
    </a>
    </div>
  </div>
  <div class="account_header_text">
    <h1>EDIT PASSWORD</h1>
  </div>
  </div>
<div id="edit-password" v-cloak>
  <account-notification-banner></account-notification-banner>
  <div class="container pt-5 pb-5">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/account">Account Overview</a></li>
      <li class="breadcrumb-item active">Edit Password</li>
    </ol>      
    <h1>Change password</h1>
    <hr/>
    <ajax-form action="updatePassword" :syncing.sync="syncing" :cloud-error.sync="cloudError" :form-data="formData" :form-rules="formRules" :form-errors.sync="formErrors" @submitted="submittedForm()">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="password">New password</label>
            <input class="form-control" id="password" name="password" type="password"  :class="[formErrors.password ? 'is-invalid' : '']" v-model.trim="formData.password" placeholder="••••••••" autocomplete="new-password" focus-first>
            <div class="invalid-feedback" v-if="formErrors.password">Please enter a password or choose "Cancel".</div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="confirm-password">Confirm password</label>
            <input class="form-control" id="confirm-password" name="confirm-password" type="password"  :class="[formErrors.confirmPassword ? 'is-invalid' : '']" v-model.trim="formData.confirmPassword" autocomplete="new-password" placeholder="••••••••">
            <div class="invalid-feedback" v-if="formErrors.confirmPassword">Your new password and confirmation do not match.</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <cloud-error v-if="cloudError"></cloud-error>
        </div>
        <div class="col-sm-6">
          <div class="form-group text-right">
            <a class="btn btn-outline-info" href="/account">Cancel</a>
            <ajax-button type="submit" :syncing="syncing" class="btn btn-dark">Save changes</ajax-button>
          </div>
        </div>
      </div>
    </ajax-form>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
<script>
  let layoutHeaderHome = document.querySelector('.header');
window.onscroll = function () {
    scrollFunction();
};
</script> 