<div class="top_header signup_header">
  <div class="header-left">
    <img src="/images/layout/main_logo.png" alt="cyberCafeLogo" width="100" height="100" />
  </div>
  <div class="header-right">
    <div class="header-right-links">
      <a href="/signup" class="sign-up-link-top">Sign-Up</a>
      <a href="/login" class="log-in-link-top">Sign-In</a>
      <a href="/demo/homepage/shop">Shop</a>
      <a href="/demo/contact-us">Contact Us</a>
      <a href="/logout" class="logout-link-top">Logout</a>
      <a class="user-acount-link-top" href="/account"><i class="fa fa-user-circle" aria-hidden="true" title="Edit Account"></i></a>
  <a href="/cart" class="cart-link-top"><i class="fa fa-shopping-cart" title="Show my cart"></i>
    <% if (req.session.cart) { %>
        <span class="badge badge-danger"><%= req.session.cart.totalQty %></span>
        <% } %>
      </a>
    </div>
  </div>
  <div class="signup_header_text">
    <h1>GET A NEW PASSWORD</h1>
  </div>
</div>
<div id="new-password" v-cloak>
  <div class="container-fluid pt-5 pb-5">
    <h1 class="text-center">Reset password</h1>
    <div style="max-width: 450px" class="mx-auto">
      <hr/>
      <ajax-form action="updatePasswordAndLogin" :syncing.sync="syncing" :cloud-error.sync="cloudError" :form-data="formData" :form-rules="formRules" :form-errors.sync="formErrors" @submitted="submittedForm()">
        <div class="form-group">
          <label for="password">New password</label>
          <input class="form-control" id="password" name="password" type="password"  :class="[formErrors.password ? 'is-invalid' : '']" v-model.trim="formData.password" placeholder="••••••••" autocomplete="new-password" focus-first>
          <div class="invalid-feedback" v-if="formErrors.password">Please enter a password.</div>
        </div>
        <div class="form-group">
          <label for="confirm-password">Confirm password</label>
          <input class="form-control" id="confirm-password" name="confirm-password" type="password"  :class="[formErrors.confirmPassword ? 'is-invalid' : '']" v-model.trim="formData.confirmPassword" placeholder="••••••••" autocomplete="new-password">
          <div class="invalid-feedback" v-if="formErrors.confirmPassword">Your new password and confirmation do not match.</div>
        </div>
        <cloud-error v-if="cloudError"></cloud-error>
        <div class="form-group">
          <ajax-button type="submit" :syncing="syncing" class="btn btn-dark btn-lg btn-block">Submit</ajax-button>
        </div>
      </ajax-form>
      <p class="text-center">Remember your password? <a href="/login">Login</a></p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
<script>
  let layoutHeaderHome = document.querySelector('.header');
let documentFullHeight = document.documentElement.clientHeight;
window.onscroll = function () {
    scrollFunction();
};
</script>