<div class="homepage-start-container">
  <div id="demo" class="carousel slide" data-ride="carousel" data-interval="false">
    <!-- Indicators -->
    <!-- <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
        </ul> -->
    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-caption caption0">
        <div class="header-left-home">
          <img src="/images/layout/main_logo.png" alt="cyberCafeLogo"/>
        </div>
        <div class="header-right-home" >
          <div class="header-right-links-home">
            <a href="/demo/homepage">Home</a>
            <a href="/signup" class="sign-up-link-top">Sign-Up</a>
            <a href="/login" class="log-in-link-top">Sign-In</a>
            <a href="/demo/homepage/shop">Shop</a>
            <a href="/demo/contact-us">Contact Us</a>
            <a href="/logout" class="logout-link-top">Logout</a>
            <a class="user-acount-link-top" href="/account"><i class="fa fa-user-circle" aria-hidden="true" title="Edit Account"></i></a>
        <a href="/cart" class="cart-link-top"><i class="fa fa-shopping-cart"></i>
                      <% if (req.session.cart) { %>
                  <span class="badge badge-danger"><%= req.session.cart.totalQty %></span>
                  <% } %>
                </a>
          </div>
        </div>
      </div>
      <input type="hidden" name="logged_in" value="<%=req.session.userId%>" class="hidden_logged_in_input">
      <div class="carousel-item active">
        <div class="d-flex align-items-center justify-content-center min-vh-100">
          <img class="carousel-images" src="/images/homepage/home-1-slider-image-2.jpg" alt="home-1-slider-image-1" />
        </div>
        <div class="carousel-caption caption1 animate__animated animate__backInUp">
          <img src="/images/layout/main_logo.png" alt="main_logo" height="150px" width="150px" />
          <h1>BEST COFEE</h1>
          <img src="/images/homepage/slider-separator-img.png" alt="slider-separator-img" width="140px" height="40px" />
          <p>Coffees from all over the world.</p>
          <form action="/demo/homepage/shop" method="GET">
          <button class="order-now-button" type="submit">Order Now!</button>
        </form>
        </div>
      </div>
      <div class="carousel-item">
        <div class="d-flex align-items-center justify-content-center min-vh-100">
          <img class="carousel-images" src="/images/homepage/home-1-slider-image-1.jpg" alt="home-1-slider-image-2" />
        </div>
        <div class="carousel-caption caption1 animate__animated animate__backInUp">
          <img src="/images/layout/main_logo.png" alt="main_logo" height="150px" width="150px" />
          <h1>BEST COFEE</h1>
          <img src="/images/homepage/slider-separator-img.png" alt="slider-separator-img" width="140px" height="40px" />
          <p>Unlinited variety in tastes.</p>
          <form action="/demo/homepage/shop" method="GET">
            <button class="order-now-button" type="submit">Order Now!</button>
          </form>
          </div>
      </div>
    </div>
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</div>
<br />
<br />
<div class="container m-auto">
  <div class="row text-center m-auto">
    <div class="col-lg-12">
  <h1>OUR DELICIOUS OFFERS</h1>
  <img src="/images/homepage/title-separator.png" alt="title-separator" style="margin: auto;"/>
  <br />
  <br />
  <p>
    Coffeebrand offers a unique coffee house environment unlike any other in Manchester. We are not only a place to drop in and get your morning cup of coffee (although you are more than welcome to do that), but we are also a place where you can sit down and enjoy that tailor-made cup of coffee. If you need to work, we have a seating area created specifically for you. If you need to rest, we have a soft-seating area in front of a stone fireplace that is perfect for your weary mind and body.
   </p>
</div>
  </div>  
</div>
<div class="container">
  <div class="row text-center m-auto ">
  <div class="col-lg-3 col-md-6 col-sm-12 mb-4 ">
    <img src="/images/homepage/h2-custom-icon-5.png" alt="h2-custom-icon-5" style="margin: auto;" />
    <h3>TYPES OF COFFEE</h3>
    <p>
      We have coffees from 8 different countries
      and we arelooking to expand into even more.
      We will always strive to bring something new.
    </p>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
    <img src="/images/homepage/h2-custom-icon-6.png" alt="h2-custom-icon-6" style="margin: auto;" />
    <h3>BEAN VARIETIES</h3>
    <p>
      Since we have coffees from all over the world
      we strive to have the best quality of beans so 
      that the aroma of each coffee will remain memorable
    </p>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
    <img src="/images/homepage/h2-custom-icon-7.png" alt="h2-custom-icon-7" style="margin: auto;"/>
    <h3>COFFEE & PASTRY</h3>
    <p>
      Apart from coffee we will offer you some,
      small deserts if you come by our place. 
      We have worked so hard on the atmosphere of the place.
    </p>
  </div>
  <br />
  <div class="col-lg-3 col-md-6 col-sm-12 mb-4">
    <img src="/images/homepage/h2-custom-icon-8.png" alt="h2-custom-icon-8" style="margin: auto;"/>
    <h3>COFFEE TO GO</h3>
    <p>
      Of course if you cant come or dont have time,
      to stay we will bring your coffee to your place.
      We will try to be quick about it.
    </p>
  </div>
</div>
</div>
<div class="container2">
  <h1>OUR SWEET GALLERY</h1>
  <img src="/images/homepage/title-separator.png" alt="title-separator" />
  <br />
  <br />
  <p>
    Below are some photos of our beutifull cafeteria <br />
    and some of our hard working staff on the job.
  </p>
</div>
<div class="container4">
  <div class="gallery">
    <a target="_blank" href="/images/homepage/port-1-img-1.jpg">
      <img src="/images/homepage/port-1-img-1.jpg" alt="port-1-img-1" />
    </a>
    <div class="desc">Perfect Cup</div>
  </div>
  <div class="gallery">
    <a target="_blank" href="/images/homepage/port-1-img-2.jpg">
      <img src="/images/homepage/port-1-img-2.jpg" alt="port-1-img-2" />
    </a>
    <div class="desc">Brewed</div>
  </div>
  <div class="gallery">
    <a target="_blank" href="/images/homepage/port-1-img-3.jpg">
      <img src="/images/homepage/port-1-img-3.jpg" alt="port-1-img-3" />
    </a>
    <div class="desc">Coffe Drips</div>
  </div>
  <div class="gallery">
    <a target="_blank" href="/images/homepage/port-1-img-4.jpg">
      <img src="/images/homepage/port-1-img-4.jpg" alt="port-1-img-4" />
    </a>
    <div class="desc">Baked Beans</div>
  </div>
  <div class="gallery">
    <a target="_blank" href="/images/homepage/port-1-img-5.jpg">
      <img src="/images/homepage/port-1-img-5.jpg" alt="port-1-img-5" />
    </a>
    <div class="desc">Best Aromas</div>
  </div>
  <div class="gallery">
    <a target="_blank" href="/images/homepage/port-1-img-6.jpg">
      <img src="/images/homepage/port-1-img-6.jpg" alt="port-1-img-6" />
    </a>
    <div class="desc">Creams</div>
  </div>
  <div class="gallery">
    <a target="_blank" href="/images/homepage/port-1-img-7.jpg">
      <img src="/images/homepage/port-1-img-7.jpg" alt="port-1-img-7" />
    </a>
    <div class="desc">Enjoyment</div>
  </div>
  <div class="gallery">
    <a target="_blank" href="/images/homepage/port-1-img-8.jpg">
      <img src="/images/homepage/port-1-img-8.jpg" alt="port-1-img-8" />
    </a>
    <div class="desc">Big Mugs</div>
  </div>
</div>
<script>
  let layoutHeaderHome = document.querySelector('.header');
  let documentFullHeight = document.documentElement.clientHeight;
  window.onscroll = function () {
    scrollFunction();
  };
  function scrollFunction() {
    if (
      document.body.scrollTop > documentFullHeight - 100 ||
      document.documentElement.scrollTop > documentFullHeight - 100
    ) {
      layoutHeaderHome.style.display = 'block';
    } else {
      layoutHeaderHome.style.display = 'none';
    }
  }

</script>
