<form action="/demo/populatecofees" method="POST">

<button type="submit" >populate coffees</button>

</form>

<form action="/demo/populatecategories" method="POST">

<button type="submit" >populate categories</button>

</form>

<form action="/demo/populateorders" method="POST">

    <button type="submit" >populate orders</button>
    
    </form>

    <form action="/demo/populateorderdetails" method="POST">

        <button type="submit" >populate order details</button>
        
        </form>