<div id="adminwelcome">
    <account-notification-banner></account-notification-banner>
    <div class="container pt-5 pb-5">
      <h1>Admin control panel</h1>
      <p> from here you can manage all users , products  and categories!  </p>     
      
      
      <br />
      
      <div class="buttons" style="display: none;">
        <a class="btn btn-info" href="/account">Update profile</a>
      </div>
    </div>
  
  
    
  <%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
  